#graph/__pycache__
#interface/__pycache__
#interface/container/__pycache__
#
#interface/container/computer_system/__pycache__
#
#interface/container/computer_system/link/__pycache__
#interface/container/computer_system/link/popups/__pycache__
#interface/container/computer_system/link/popups/ask_add_link/__pycache__
#
#interface/container/computer_system/popups/__pycache__
#interface/container/computer_system/popups/load_name/__pycache__
#interface/container/computer_system/popups/save/__pycache__
#interface/container/computer_system/popups/save_name/__pycache__
#
#interface/container/computer_system/processor/__pycache__
#interface/container/computer_system/processor/popups/__pycache__
#interface/container/computer_system/processor/popups/processor_ask_add_link/__pycache__
#
#interface/container/modeling/__pycache__
#
#interface/container/modeling/model_labels/__pycache__
#interface/container/modeling/model_labels/empty_label/__pycache__
#interface/container/modeling/model_labels/forwarding_label/__pycache__
#interface/container/modeling/model_labels/head_label/__pycache__
#interface/container/modeling/model_labels/task_label/__pycache__
#
#interface/container/results/__pycache__
#interface/container/results/popups/__pycache__
#interface/container/results/queue_builder/__pycache__
#
#interface/container/results/table_labels/__pycache__
#interface/container/results/table_labels/empty_label/__pycache__
#interface/container/results/table_labels/head_label/__pycache__
#interface/container/results/table_labels/result_label/__pycache__
#interface/container/results/table_labels/value_label/__pycache__
#
#interface/container/task_graph/__pycache__
#interface/
#
#interface/popups/__pycache__
#interface/popups/error_popup/__pycache__
#interface/popups/info_popup/__pycache__

__pycache__/
*.py[cod]